In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
  "inventory number": {
    "1236": "110",
    "5188": "101",
    "19497": "111",
    "5123": "010",
    "27358": "011"
  },
  "cost": {
    "1236": 20.80,
    "5188": 28.86,
    "19497": 112.69,
    "5123": 165.03,
    "27358": 54.02
  },
  "map": {
    "1236": "True",
    "5188": "True",
    "19497": "True",
    "5123": "True",
    "27358": "False"
  },
  "cat": {
    "1236": "CONSUMABLE",
    "5188": "ELECTRONICS",
    "19497": "POWER TOOL",
    "5123": "POWER TOOL",
    "27358": "APPLIANCES"
  }
}

dest = pd.DataFrame(data=data)

In [3]:
data = {
  "inventory number": {
    "1236": "110",
    "5188": "101",
    "19497": "111",
    "5123": "010",
    "27358": "011"
  },
  "cost": {
    "1236": 21.80,
    "5188": 33.86,
    "19497": 100.69,
    "5123": 169.03,
    "27358": 49.99
  },
  "map": {
    "1236": "True",
    "5188": "True",
    "19497": "True",
    "5123": "False",
    "27358": "False"
  },
  "cat": {
    "1236": "CONSUMABLE",
    "5188": "ELECTRONICS",
    "19497": "Electronics",
    "5123": "POWER TOOL",
    "27358": "Home/Kitchen"
  }
}

source = pd.DataFrame(data=data)

In [4]:
source

                cat    cost inventory number    map
1236     CONSUMABLE   21.80              110   True
19497   Electronics  100.69              111   True
27358  Home/Kitchen   49.99              011  False
5123     POWER TOOL  169.03              010  False
5188    ELECTRONICS   33.86              101   True

In [5]:
dest

               cat    cost inventory number    map
1236    CONSUMABLE   20.80              110   True
19497   POWER TOOL  112.69              111   True
27358   APPLIANCES   54.02              011  False
5123    POWER TOOL  165.03              010   True
5188   ELECTRONICS   28.86              101   True

In [8]:
dest.combine_first(source)

               cat    cost inventory number    map
1236    CONSUMABLE   20.80              110   True
19497   POWER TOOL  112.69              111   True
27358   APPLIANCES   54.02              011  False
5123    POWER TOOL  165.03              010   True
5188   ELECTRONICS   28.86              101   True

In [6]:
source[~(source == dest)]

                cat    cost inventory number    map
1236            NaN   21.80              NaN    NaN
19497   Electronics  100.69              NaN    NaN
27358  Home/Kitchen   49.99              NaN    NaN
5123            NaN  169.03              NaN  False
5188            NaN   33.86              NaN    NaN

In [ ]:
data = {
"inventory number": {
"0": "010",
"1": "011",
"2": "101",
"3": "110",
"4": "111"
},
"cat": {
"0": np.nan,
"1": "Home\\/Kitchen",
"2": np.nan,
"3": np.nan,
"4": "Electronics"
},
"cost": {
"0": 169.03,
"1": 49.99,
"2": 33.86,
"3": 21.8,
"4": 100.69
},
"map": {
"0": "False",
"1": np.nan,
"2": np.nan,
"3": np.nan,
"4": np.nan
}
}

desired_output = pd.DataFrame(data=data)

In [ ]:
desired_output.sort_values('inventory number', inplace=True)

In [ ]:
do = source[~(source == dest)]
do['inventory number'] = source['inventory number']

In [ ]:
do.sort_values('inventory number', inplace=True)

In [ ]:
do

In [ ]:
desired_output