In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sample_sets/sample-sales.csv')

In [3]:
df["date"] = pd.to_datetime(df['date'])

In [4]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [ ]:
#using the offset aliases listed here (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

#example of resample functionality w/ timeseries data
#resample leverages functionality within timeseries to group by specific time parts like month/day/year etc
#resample requires that the date column be set to the index
df.set_index('date').resample('M')["ext price"].sum()

In [ ]:
#QUESTION: breakdown the above by each customer
df.set_index('date').groupby('name')["ext price"].resample('M').sum()

In [ ]:
#using grouper gets the same effect as above without having to set date to the index or stringing together as many functions
df.groupby(['name', pd.Grouper(key='date', freq='M')])['ext price'].sum()

In [ ]:
#grouper makes it more intuitive to explore data by groups and to quickly swap out what time-sets to look at
#the below breaks each group down by year with december being the last month in that year
df.groupby(['name', pd.Grouper(key='date', freq='A-DEC')])['ext price'].sum()

In [ ]:
df = pd.read_csv('sample_sets/stack_date.csv')

In [ ]:
df

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
pd.pivot_table(df, index=['Date','Order'], aggfunc=np.size)

In [ ]:
df

In [ ]:
df.set_index('Date',inplace=True)

In [ ]:
df.groupby([pd.Grouper(freq='D'),'Order']).size()