In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sample_sets/sales_transactions.csv')

In [3]:
df

    account           name  order       sku  quantity  unit price  ext price
0    383080       Will LLC  10001  B1-20000         7       33.69     235.83
1    383080       Will LLC  10001  S1-27722        11       21.12     232.32
2    383080       Will LLC  10001  B1-86481         3       35.99     107.97
3    412290  Jerde-Hilpert  10005  S1-06532        48       55.82    2679.36
4    412290  Jerde-Hilpert  10005  S1-82801        21       13.62     286.02
5    412290  Jerde-Hilpert  10005  S1-06532         9       92.55     832.95
6    412290  Jerde-Hilpert  10005  S1-47412        44       78.91    3472.04
7    412290  Jerde-Hilpert  10005  S1-27722        36       25.42     915.12
8    218895      Kulas Inc  10006  S1-27722        32       95.66    3061.12
9    218895      Kulas Inc  10006  B1-33087        23       22.55     518.65
10   218895      Kulas Inc  10006  B1-33364         3       72.30     216.90
11   218895      Kulas Inc  10006  B1-20000        -1       72.18     -72.18

In [ ]:
#QUESTION 1: What percentage of total sales does each order represent?

In [ ]:
#Question 2: What percentage of each each orders revenue does each sku represent?

In [4]:
sku_total = df.groupby(['order','sku'])['ext price'].sum().rename('sku_total').reset_index()

In [ ]:
sku_total['sku_total'].update(sku_total['sku_total']/sku_total['order'].map(sku_total.groupby('order')['sku_total'].sum()))

In [ ]:
sku