In [2]:
import pandas as pd
import numpy as np

data = {"index":{"0":1692,"1":1771,"2":1007,"3":2915,"4":1416},
"item_number":{"0":"123","1":"123","2":"124","3":"124","4":"125"},
"brand":{"0":"brand1","1":"brand1","2":"brand2","3":"brand2","4":"brand3"},
"price":{"0":20.00,"1":20.00,"2":25.00,"3":25.00,"4":30.00},
"comp_id":{"0":1,"1":2,"2":1,"3":3,"4":2},
"comp":{"0":"comp1","1":"comp2","2":"comp1","3":"comp3","4":"comp2"},
"comp_price":{"0":21.00,"1":20.99,"2":16.00,"3":15.99,"4":29.99}}
df1 = pd.DataFrame(data=data)

g = df1.groupby('brand')
v = df1[df1['price']>df1['comp_price']].groupby('brand')

In [7]:
f1 = lambda x: len(x.unique())
f = {'item_number':f1, 'comp_id':f1}
pd.concat([g.agg(f),v.agg(f)], axis=1)

        item_number  comp_id  item_number  comp_id
brand1            1        2          NaN      NaN
brand2            1        2          1.0      2.0
brand3            1        1          1.0      1.0