In [1]:
import pandas as pd
import numpy as np

In [ ]:
#map example -- note -- map is only friendly with series. df object does not have a map function callable. 
pb = {"mark_up_id":{"0":"123","1":"456","2":"789","3":"111","4":"222"},"mark_up":{"0":1.2987,"1":1.5625,"2":1.3698,"3":1.3333,"4":1.4589}}
data = {"id":{"0":"K69","1":"K70","2":"K71","3":"K72","4":"K73","5":"K74","6":"K75","7":"K79","8":"K86","9":"K100"},"cost":{"0":29.74,"1":9.42,"2":9.42,"3":9.42,"4":9.48,"5":9.48,"6":24.36,"7":5.16,"8":9.8,"9":3.28},"mark_up_id":{"0":"123","1":"456","2":"789","3":"111","4":"222","5":"333","6":"444","7":"555","8":"666","9":"777"}}

pb = pd.DataFrame(data=pb).set_index('mark_up_id')
df = pd.DataFrame(data=data)

In [ ]:
df

In [ ]:
pb

In [ ]:
df['mark_up_id'].map(pb['mark_up'])

In [ ]:
#by selecting a series in the dataframe df, using map, you're able to find the correlated value to each value in pb
#so long as the index in pb corresponds to a value in the series created by df['mark_up_id']
print(df['mark_up_id'].map(pb['mark_up']))

#using insert, you can insert a series into a dataframe, so long as something like map was used so the lengths are the same
df.insert(1,'mark_up',df['mark_up_id'].map(pb['mark_up']))
print(df.head())

#alternatively, you can use update, if a column already exists

In [ ]:
#example of how to perform a similar function to the above when dealing with a multi-index using join
data = {"uid":{"0":"abc123","1":"abc123","2":"abc","3":"abc","4":"efgh"},"comp_id":{"0":1395,"1":2467,"2":4567,"3":1596,"4":111222},"retailer":{"0":"Shmo","1":"Joe","2":"Jon","3":"Sam","4":"Tim"},"price":{"0":7.49,"1":5.17,"2":89.99,"3":13.99,"4":4.98}}
stock = {"uid":{"0":"abc123","1":"abc123","2":"abc","3":"abc","4":"efgh"},"comp_id":{"0":1395,"1":2467,"2":4567,"3":1596,"4":111222},"availability":{"0":"True","1":"True","2":"True","3":"True","4":"True"}}
df = pd.DataFrame(data)
s = pd.DataFrame(stock)
s = s.set_index(['comp_id','uid'])

In [ ]:
#be aware of the levels of the multi-index need to line up across both data-sets
df[['uid','comp_id']].set_index(['comp_id','uid']).join(s).values

In [ ]:
#then like above this array can be inserted into the dataframe
df.insert(3,'availability', df[['uid','comp_id']].set_index(['comp_id','uid']).join(s).values)

In [ ]:
#map can however be used with indices that are tuples
df = pd.DataFrame(data={'A':range(1,8), 'B':range(1,8), 'C': range(1,8)},
 index=pd.MultiIndex.from_tuples([('chrom1', '-', 1234), ('chrom1', '+', 5678),
 ('chrom1', '+', 9876),  ('chrom2', '+', 13579), ('chrom2', '+', 8497), ('chrom2', '-', 98765),
 ('chrom2', '-', 76856)]))

df.index.rename(['chrom','strand','abs_pos'], inplace=True)
gene_d = {('chrom1', '-', 1234) : 'geneA', ('chrom1', '+', 5678): 'geneB', 
    ('chrom1', '+', 9876): 'geneC', ('chrom2', '+', 13579): 'geneD',
    ('chrom2', '+', 8497): 'geneE', ('chrom2', '-', 98765): 'geneF', 
    ('chrom2', '-', 76856): 'geneG'}

In [ ]:
df['gene'] = df.index #you get the index as tuple

In [ ]:
df['gene'] = df['gene'].map(gene_d)

In [ ]:
df = df.set_index('gene', append=True)

In [52]:
data = {
  "sku": {
    "0": "123",
    "1": "321",
    "2": "456",
    "3": "678",
    "4": "123",
    "5": "321",
    "6": "456",
    "7": "101",
    "8": "123",
    "9": "101"
  },
  "retailer": {
    "0": "BobStore",
    "1": "BobStore",
    "2": "BobStore",
    "3": "BobStore",
    "4": "SamStore",
    "5": "SamStore",
    "6": "RobStore",
    "7": "SamStore",
    "8": "RobStore",
    "9": "BobStore"

  },
  "description": {
    "0": "Jacket",
    "1": "Jacket",
    "2": "Jacket",
    "3": "Jacket",
    "4": "Jacket",
    "5": "Jacket",
    "6": "Jacket",
    "7": "Jacket",
    "8": "Jacket",
    "9": "Jacket"
  },
  "price": {
    "0": 19.99,
    "1": 18.99,
    "2": 12.99,
    "3": 15.99,
    "4": 12.99,
    "5": 12.99,
    "6": 11.99,
    "7": 19.99,
    "8": 16.99,
    "9": 18.99
  },
  "shipping": {
    "0": 6.99,
    "1": 4.99,
    "2": 6.99,
    "3": 3.99,
    "4": 6.99,
    "5": 4.99,
    "6": 6.99,
    "7": 9.99,
    "8": 1.99,
    "9": 2.99,
  },
  "availability": {
    "0": "True",
    "1": "False",
    "2": "",
    "3": "",
    "4": "False",
    "5": "True",
    "6": "",
    "7": "",
    "8": "",
    "9": "True",
  }
}
df = pd.DataFrame(data=data)


data = {
  "sku": {
    "0": "123",
    "1": "101",
    "2": "456",
    "3": "879",

  },
  "availability": {
    "0": "False",
    "1": "True",
    "2": "True",
    "3": "True",
  }
}
bobStore = pd.DataFrame(data=data)


data = {
  "sku": {
    "0": "123",
    "1": "101",

  },
  "availability": {
    "0": "False",
    "1": "True",
  }
}
samStore = pd.DataFrame(data=data)

In [53]:
#update solution
test = df.set_index(['sku','retailer'])
bobTest = bobStore
bobTest['retailer'] = 'BobStore'
bobTest = bobStore.set_index(['sku','retailer'])
test.update(bobTest)

In [56]:
test = test.reset_index()

In [57]:
testBob = test[test['retailer']=='BobStore']

In [59]:
bobTest

             availability
sku retailer
123 BobStore        False
101 BobStore         True
456 BobStore         True
879 BobStore         True

In [58]:
testBob

   sku  retailer availability description  price  shipping
0  123  BobStore        False      Jacket  19.99      6.99
1  321  BobStore        False      Jacket  18.99      4.99
2  456  BobStore         True      Jacket  12.99      6.99
3  678  BobStore                   Jacket  15.99      3.99
9  101  BobStore         True      Jacket  18.99      2.99

In [63]:
test1 = bobStore[bobStore['sku'].isin(np.intersect1d(bobStore['sku'],df['sku']))].combine_first(df[df['retailer']=='BobStore']).combine_first(df)

In [64]:
test1

  availability description  price  retailer  shipping  sku
0        False      Jacket  19.99  BobStore      6.99  123
1         True      Jacket  18.99  BobStore      4.99  101
2         True      Jacket  12.99  BobStore      6.99  456
3                   Jacket  15.99  BobStore      3.99  678
4        False      Jacket  12.99  SamStore      6.99  123
5         True      Jacket  12.99  SamStore      4.99  321
6                   Jacket  11.99  RobStore      6.99  456
7                   Jacket  19.99  SamStore      9.99  101
8                   Jacket  16.99  RobStore      1.99  123
9         True      Jacket  18.99  BobStore      2.99  101

In [65]:
test1[test1['retailer']=='BobStore']

  availability description  price  retailer  shipping  sku
0        False      Jacket  19.99  BobStore      6.99  123
1         True      Jacket  18.99  BobStore      4.99  101
2         True      Jacket  12.99  BobStore      6.99  456
3                   Jacket  15.99  BobStore      3.99  678
9         True      Jacket  18.99  BobStore      2.99  101

In [66]:
df

  availability description  price  retailer  shipping  sku
0         True      Jacket  19.99  BobStore      6.99  123
1        False      Jacket  18.99  BobStore      4.99  321
2                   Jacket  12.99  BobStore      6.99  456
3                   Jacket  15.99  BobStore      3.99  678
4        False      Jacket  12.99  SamStore      6.99  123
5         True      Jacket  12.99  SamStore      4.99  321
6                   Jacket  11.99  RobStore      6.99  456
7                   Jacket  19.99  SamStore      9.99  101
8                   Jacket  16.99  RobStore      1.99  123
9         True      Jacket  18.99  BobStore      2.99  101